<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<ThumbIcon>icon.png</ThumbIcon>
	<BigThumbIcon>icon.png</BigThumbIcon>
	<ListIcon>icon.png</ListIcon>
    <BigListIcon>icon.png</BigListIcon>
	
	<category>tv</category>
	<autoUpdate>y</autoUpdate>
	<cpname>Samsung</cpname>
	<cpauthjs></cpauthjs>
	<login>n</login>
	<mouse>y</mouse>

	<ver>1.003</ver>
	<mgrver>2.000</mgrver>
	
	<fullwidget>y</fullwidget>
	<srcctl>n</srcctl>
	<ticker>n</ticker>
	<childlock>n</childlock>
	<audiomute>n</audiomute>
	<videomute>n</videomute>
	<dcont>y</dcont>

	<runTitle>com.multiscreen.samsung.helloworld</runTitle>
	<widgetname>Hello World</widgetname>
	<description>Hello World Example</description>

    <width>1280</width>
	<height>720</height>

	<author>
		<name>Samsung</name>
		<email></email>
		<link></link>
		<organization>Samsung</organization>
	</author>
</widget>
